<div class="jumbotron">
  <h1><center>Welcome to my App!</h1>
  <p><center>This App will Amaze You</p>
  <p><center><a class="btn btn-primary btn-lg" role="button">Sign in Here</a></p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img data-src="http://s3-media2.ak.yelpcdn.com/bphoto/vCmOMAKuDpEZ2YZUp5621w/l.jpg/300x200" 
      <div class="caption">
        <h3><center>We Have Monthly Specials</h3></center>
        <p>Every month we bring you the best dentistry has to offer</p>
        <p><center><a href="#" class="btn btn-primary" role="button">Get specials</a></center>
        </p>
      </div>
    </div>
  </div>
</div>

